<fieldset>
  <legend>Edit BabySATter</legend>
  <!-- name -->
  <div class="form-group">
    <label for="babysatter-name">Name</label><br>
    <input class="form-control" id="babysatter-name" type="text" name="name" value="{{babysatter.name}}"/>
  </div>


  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="babysatter-description">Description</label><br>
    <textarea class="form-control" id="babysatter-description" name="description" rows="10" />{{babysatter.description}}</textarea>
  </div>
</fieldset>
