<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        BabySATter
      </a>
    </div>
    <div class="pull-right">
      <a href="/babysatters/new" class="btn btn-default navbar-btn">New Babysatter</a>
    </div>
  </div>
</nav>