<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        BabySAT
      </a>
    </div>
    <div class="pull-right">
      <a href="/babysatters/new" class="btn btn-default navbar-btn">New Babysatter</a>
    </div>
  </div>
</nav>

<!-- <div class="nav">
  <div class="nav-header">
    <div class="nav-title">
        <a class="navbar-brand" href="/">
          BabySAT
        </a>
    </div>
  </div>
  <div class="pull-right">
    <a href="/" target="_blank">Github</a>
    <a href="/" target="_blank">Stackoverflow</a>
    <a href="/" target="_blank">LinkedIn</a>
    <a href="/" target="_blank">Codepen</a>
    <a href="/" target="_blank">JsFiddle</a>
  </div>
</div> -->
