<form action="/babysatters/reviews" method="post">
  <input type="hidden" value="{{babysatter._id}}" name="babysatterId">
  <fieldset>
    <legend>Leave a Review</legend>
    <!-- TITLE -->
    <div class="form-group">
      <label for="review-rating">Rating</label><br>
      <input class="form-control"
        id="review-rating"
        type="text"
        name="rating"
        placeholder="Rating"/>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="review-content">Review</label><br>
      <textarea class="form-control"
      id="review-content"
      name="content"
      rows="10"
      placeholder="Your review..."/></textarea>
    </div>
  </fieldset>

  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save Review</button>
  </div>
</form>