<form action="/babysatters/reviews" method="post">
  <input type="hidden" value="{{babysatter._id}}" name="babysatterId">
  <fieldset>
    <legend>Leave a Review</legend>
    <!-- TITLE -->
    <p>
      <!--RATING-->
      <select name="rating">
        <option>★</option>
        <option>★★</option>
        <option>★★★</option>
        <option>★★★★</option>
        <option>★★★★★</option>
      </select>
    </p>
    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="review-content">Review</label><br>
      <textarea class="form-control"
      id="review-content"
      name="content"
      rows="10"
      placeholder="Tell us how you really feel"/></textarea>
    </div>
  </fieldset>

  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save Review</button>
  </div>
</form>