<h1>Our Babysitters</h1>

 <div class="row">
    {{#each babysatters}}
        <h2>
            <!-- <a href="/babysatters/{{this.id}}">{{this.firstname}}</a> -->
            {{this.firstname}}
            {{this.lastname}}
        </h2>
    {{/each}}

</div>
