<form method="POST" action="/reviews">
  <fieldset>
    <legend>New Review</legend>
    <!-- TITLE -->
    <p>
      <label for="review-title">Title</label><br>
      <input id="review-title" type="text" name="title" />
    </p>

    <!-- BABYSITTER -->
    <p>
      <label for="babysitter-name">Babysitter</label><br>
      <input id="babysitter-name" type="text" name="babysitterName" />
    </p>

    <!-- DESCRIPTION -->
    <p>
      <label for="description-text">Description</label><br>
      <textarea id="description-text" name="description" rows="10" /></textarea>
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Review</button>
  </p>

</form>