body {
    background-color: rgb(204, 182, 180);
}

.navbar-item.is-mega {
  position: static;

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }
}

a {
    text-decoration: none;
    }
a:hover {
    text-decoration: underline;
    }
a:link, a:visited {
    color: white;
    }
