body {
    background-image: url(./images/adorable-affection-babysitter-toddler.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0,143,251, 0.5);

}

.navbar-item.is-mega {
  position: static;

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }
}
